.add_folder__form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

.add_folder__form_top {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 6px;
}

.add_folder__form_submit {
    padding: 8px 20px;
    border-radius: 100px;
    box-shadow: 0px 2px 25px 0px rgba(37, 37, 37, 0.1);
    background: #38a65d;
    font-size: 13px;
    font-weight: 500;
    line-height: 125%;
    transition: all .3s ease-out;
    color: #fff;
    font-weight: 600;
    line-height: 125%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.add_folder__form_submit svg {
    width: 20px;
    height: 20px;
    fill: #fff;
}

.add_folder__form_submit:hover {
    background: rgba(37, 37, 37, 0.75);
}

.add_folder__form_submit:focus {
    border: none;
    outline: none;
    box-shadow: 0px 2px 25px 0px rgba(37, 37, 37, 0.5);
}

.add_folder__form_icon_box {
    position: relative;
}

.add_folder__form_icon {
    height: 100%;
    width: auto;
    aspect-ratio: 1/1;
    border-radius: 100px;
    box-shadow: 0px 2px 25px 0px rgba(37, 37, 37, 0.1);
    background: rgba(255, 255, 255, 0.45);
    font-size: 13px;
    font-weight: 500;
    line-height: 125%;
    transition: all .3s ease-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.add_folder__form_icon:hover {
    box-shadow: 0px 0px 10px 3px rgba(37, 37, 37, 0.15);
    border: none;
    transform: scale(1.065);
}

.add_folder__form_icon svg {
    width: 20px;
    height: 20px;
}

.add_folder__form_icons {
    position: absolute;
    top: 40px;
    left: 0px;
    padding: 8px;
    border-radius: 16px 16px 16px 16px;
    box-shadow: 0px 2px 25px 0px rgba(37, 37, 37, 0.1);
    background: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(5px);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0px;
    z-index: 999;
}

.add_folder__form_icons_item {
    transition: all .3s ease-out;
    height: 40px;
    width: 40px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.add_folder__form_icons_item svg path {
    transition: all .3s ease-out;
}

.add_folder__form_icons_item.active {
    background: #38a65d;
    cursor: default;
}

.add_folder__form_icons_item.active:hover {
    background: #38a65d;
}

.add_folder__form_icons_item.active svg path {
    fill: #fff;
}

.add_folder__form_icons_item:hover {
    background: rgba(56, 166, 93, 0.35);
}

.add_folder__form_icons_item svg {
    width: 20px;
    height: 20px;
}