
.header__search_input {
    padding: 10px 20px;
    height: 46px;
    border-radius: 100px;
    box-shadow: var(--shad-sm);
    background: var(--color-surface-75);
    font-size: var(--font-text-lg);
    font-weight: 500;
    line-height: var(--line-md);
    transition: var(--transition-base);
    backdrop-filter: blur(5px);
    width: 475px;
    color: var(--color-text) !important;
}

.header__search_input:hover {
    width: 500px !important;
    box-shadow: var(--shad-sm-hover);
}

.header__search_input:focus {
    border: none;
    outline: none;
    box-shadow: var(--shad-sm-hover);
    width: 500px !important;
}