.main_header_delete_form {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
  justify-content: center;
}
.main_header_delete_form > div {
  display: flex;
  flex-direction: column;
  gap: var(--space-md) !important;
  justify-content: center;
}

.main_header_delete_form_msg_title {
  max-width: 90%;
  font-size: var(--font-text-lg);
  font-weight: 700;
  text-align: left;
  color: var(--color-text);
}

.main_header_delete_form_msg_title span {
  font-style: italic;
  display: block;
  opacity: 0.75;
  font-weight: 500;
}

.main_header__delete_folder {
  width: 38px;
  height: 38px;
  border-radius: var(--radius-xl);
  box-shadow: var(--shad-sm);
  background: var(--color-surface-50);
  transition: var(--transition-base);
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.main_header__delete_folder svg {
  stroke: var(--color-text);
  opacity: 0.5;
}

.main_header__delete_folder:hover {
  transform: scale(1.06);
  background: var(--color-red-bg);
  box-shadow: 0px 2px 25px 0px var(--color-red-bg);
}

.main_header__delete_folder:hover svg {
  stroke: var(--color-red-text);
  opacity: 1;
  transition: var(--transition-base);
}

.main_header__delete_folder svg {
  width: 20px;
  height: 20px;
  object-fit: contain;
  transition: var(--transition-base);
}

.main_header__theme_btn {
  width: 38px;
  height: 38px;
  border-radius: var(--radius-xl);
  box-shadow: var(--shad-sm);
  background: var(--color-surface-50);
  transition: var(--transition-base);
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.main_header__theme_btn svg {
  stroke: var(--color-text) !important;
  opacity: 0.5;
  transition: var(--transition-base);
}

.main_header__theme_btn:hover {
  transform: scale(1.06);
  box-shadow: 0px 2px 15px 0px #00000026;
}

.main_header__theme_btn:hover svg {
  opacity: 1;
}

.main_header__theme_btn svg {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.main_header__share_btn {
  width: 38px;
  height: 38px;
  border-radius: var(--radius-xl);
  box-shadow: var(--shad-sm);
  background: var(--color-surface-50);
  transition: var(--transition-base);
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.main_header__share_btn svg {
  stroke: var(--color-text) !important;
  opacity: 0.5;
  transition: var(--transition-base);
}

.main_header__share_btn:hover {
  transform: scale(1.06);
  box-shadow: 0px 2px 15px 0px #00000026;
}

.main_header__share_btn:hover svg {
  opacity: 1;
}

.main_header__share_btn svg {
  width: 20px;
  height: 20px;
  object-fit: contain;
}
