.button__folder {
    cursor: pointer;
    padding: var(--space-sm) var(--space-md);
    transition: var(--transition-base);
    border-radius: var(--radius-sm);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: var(--space-sm);
    font-size: var(--font-text-lg);
    font-weight: 500;
    color: var(--color-text);
    position: relative;
}


.button__folder:global(.active) {
    background: var(--color-text-05);
    color: var(--color-accent);
}

.button__folder svg path {
    transition: var(--transition-base) !important;
    fill: var(--color-text);
}

.button__folder:global(.active) svg path {
    fill: var(--color-accent);
}

.button__folder svg {
    width: 17px;
    height: 17px;
    object-fit: contain;
    fill: var(--color-text);
    transition: var(--transition-base);
}

.button__folder:hover {
    color: var(--color-accent);
}

.button__folder:hover svg path {
    fill: var(--color-accent);
}
.button_folder_shared {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    background:  var(--color-accent);
    width: 15px;
    height: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: var(--radius-xl);
    opacity: 0.35;
}
.button_folder_shared img {
    width: 8px !important;
    height: 8px !important;
    object-fit: contain;
}

.button__folder:global(.active) .button_folder_shared {
    background: var(--color-accent);
    opacity: 1;
}



.button__home {
    height: 46px;
    width: 46px;
    border-radius: var(--radius-xl);
    box-shadow: var(--shad-sm);
    background: var(--color-surface-75);
    transition: var(--transition-base);
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.button__home svg path {
    transition: var(--transition-base);
    fill: var(--color-text);
}

.button__home:hover {
    transform: scale(1.05);
    box-shadow: var(--shad-sm-hover);
}

.button__home:hover svg path {
    fill-opacity: 1;
}

.button__home svg {
    width: 26px;
    height: 26px;
}

.button__home:global(.active) {
    background: var(--color-accent);
    cursor: default;
}

.button__home:global(.active) svg path {
    fill: var(--color-white);
    fill-opacity: 1;
}

.button__home:global(.active):hover {
    transform: none;

}