#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.app {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: auto 1fr;
    padding: var(--space-sm);
    gap: var(--space-sm);
    height: 100vh;
}

.main {
    overflow-y: auto;
    position: relative;
    color: var(--color-text-75);
}

/* Chrome / Safari */
.main::-webkit-scrollbar {
    width: var(--space-sm);
}

.main::-webkit-scrollbar-track {
    background: transparent;
}

.main::-webkit-scrollbar-thumb {
    background: var(--color-text-07);
    border-radius: var(--radius-md);
}

.main::-webkit-scrollbar-thumb:hover {
    background: var(--color-text-10);
}


body {
    background: var(--color-bg);
}

.main_header {
    position: sticky;
    top: 0px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    margin-bottom: var(--space-xs);
    margin-top: var(--space-sm);
}

.main_header::before {
    position: absolute;
    content: '';
    width: 100%;
    top: 0px;
    background: linear-gradient(180deg, var(--color-bg) 0%, var(--color-bg-65) 40%, var(--color-bg-0) 100%);
    height: 50px;
    z-index: 90;
}


.main_header__page_title {
    font-size: var(--font-title-md);
    font-weight: 700;
    margin-left: var(--space-sm);
    z-index: 99;
    text-shadow: 0px 0px 15px var(--color-bg);
    color: var(--color-text);
}

.main_header__inner {}

.main_header__tools {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: var(--space-sm);
    position: relative;
    z-index: 99;
}


.main_header__delete_folder {
    width: 38px;
    height: 38px;
    border-radius: var(--radius-xl);
    box-shadow: var(--shadow-md);
    background: var(--color-surface-50);
    transition: var(--transition-base);
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.main_header__delete_folder:hover {
    transform: scale(1.06);
    background: rgba(255, 56, 59, 0.25);
    box-shadow: 0px 2px 25px 0px rgba(255, 56, 59, 0.25);
}

.main_header__delete_folder:hover svg {
    fill: #FF383C;
}

.main_header__delete_folder svg {
    width: 20px;
    height: 20px;
    object-fit: contain;
    fill: var(--color-text);
    transition: var(--transition-base);
}

.folder__albums {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: var(--space-sm);
    width: 100%;
}

.folder__albums_title {
    font-size: var(--font-title-md);
    font-weight: 700;
    margin-left: var(--space-sm);
}