.main_header {
  position: sticky;
  top: 0px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
  margin-bottom: var(--space-xs);
  margin-top: var(--space-sm);
}

.main_header::before {
  position: absolute;
  content: "";
  width: 100%;
  top: 0px;
  background: linear-gradient(
    180deg,
    var(--color-bg) 0%,
    var(--color-bg-65) 40%,
    var(--color-bg-0) 100%
  );
  height: 50px;
  z-index: 90;
}

.main_header__page_title {
  font-size: var(--font-title-md);
  font-weight: 700;
  margin-left: var(--space-sm);
  z-index: 99;
  text-shadow: 0px 0px 15px var(--color-bg);
  color: var(--color-text);
}

.main_header__inner {
}

.main_header__tools {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: var(--space-sm);
  position: relative;
  z-index: 99;
  padding: var(--space-sm);
}
