@import "tailwindcss";

:root {
  /* =========================
     Scale (основа всего)
  ========================= */
  --ui-scale: 1;
  --font-scale-user: 1;
  --font-scale-device: 1;

  --font-scale: calc(var(--font-scale-user) * var(--font-scale-device));

  /* =========================
     Colors
  ========================= */
  --color-text: #252525;
  --color-bg: #f0f0f0;
  --color-surface: #ffffff;
  --color-accent: #38a65d;

  --color-red-bg: rgba(254, 57, 60, 0.15);
  --color-red-text: #fe393c;

  --color-text-75: rgba(37, 37, 37, 0.75);
  --color-text-50: rgba(37, 37, 37, 0.5);
  --color-text-20: rgba(37, 37, 37, 0.2);
  --color-text-10: rgba(37, 37, 37, 0.1);
  --color-text-07: rgba(37, 37, 37, 0.07);
  --color-text-05: rgba(37, 37, 37, 0.05);

  --color-surface-75: rgba(255, 255, 255, 0.75);
  --color-surface-50: rgba(255, 255, 255, 0.5);

  --color-info: #3c7aff;
  --color-success: #16a34a;

  --gradient-info: linear-gradient(180deg, #74a0ff 0%, #3c7aff 100%);
  --gradient-success: linear-gradient(180deg, #4fdb5d 0%, #16a34a 100%);

  --color-bg-65: rgba(240, 240, 240, 0.65);
  --color-bg-0: rgba(240, 240, 240, 0);
  /* =========================
     Typography
  ========================= */
  --line-md: 1.25;
  --line-lg: 1.35;
  --line-xl: 1.5;

  /* Text */
  --font-text-sm: calc(11px * var(--font-scale));
  --font-text-md: calc(13px * var(--font-scale));
  --font-text-lg: calc(15px * var(--font-scale));

  /* Titles */
  --font-title-sm: calc(18px * var(--font-scale));
  --font-title-md: calc(22px * var(--font-scale));
  --font-title-lg: calc(32px * var(--font-scale));
  --font-title-xl: calc(38px * var(--font-scale));

  /* =========================
     Spacing
  ========================= */
  --space-xs: calc(4px * var(--ui-scale));
  --space-sm: calc(8px * var(--ui-scale));
  --space-md: calc(16px * var(--ui-scale));
  --space-lg: calc(20px * var(--ui-scale));

  /* =========================
     Radius
  ========================= */
  --radius-xs: calc(8px * var(--ui-scale));
  --radius-sm: calc(12px * var(--ui-scale));
  --radius-md: calc(16px * var(--ui-scale));
  --radius-lg: calc(20px * var(--ui-scale));
  --radius-xl: calc(100px * var(--ui-scale));

  /* =========================
     Shadow
  ========================= */
  --shad-xs: 0 0px 4px rgba(37, 37, 37, 0.25);
  --shad-xs-hover: 0 1px 6px rgba(37, 37, 37, 0.35);
  --shad-sm: 0 1px 8px rgba(37, 37, 37, 0.15);
  --shad-sm-hover: 0 3px 12px rgba(37, 37, 37, 0.25);
  --shad-md: 0 2px 20px rgba(37, 37, 37, 0.1);
  --shad-md-hover: 0 2px 22px rgba(37, 37, 37, 0.2);

  --shad-light-xs: 0 0px 6px rgba(37, 37, 37, 0.1);
  --shad-light-xs-hover: 0 1px 6px rgba(37, 37, 37, 0.2);
  --shad-light-sm: 0 1px 12px rgba(37, 37, 37, 0.05);
  --shad-light-sm-hover: 0 3px 15px rgba(37, 37, 37, 0.1);
  --shad-light-md: 0 2px 20px rgba(37, 37, 37, 0.05);
  --shad-light-md-hover: 0 0 22px rgba(37, 37, 37, 0.1);
  /* =========================
     Motion
  ========================= */
  --transition-base: all 0.3s ease-out;
}

@media (max-width: 1024px) {
  :root {
    --ui-scale: 0.95;
    --font-scale-device: 0.95;
  }
}

@media (max-width: 768px) {
  :root {
    --ui-scale: 0.9;
    --font-scale-device: 0.9;
  }
}

[data-theme="dark"] {
  --color-text: #f5f5f5;
  --color-bg: #202020;
  --color-surface: rgb(44, 44, 44);
  --color-accent: #31bc5f;

  --color-text-75: rgba(245, 245, 245, 0.75);
  --color-text-50: rgba(245, 245, 245, 0.5);
  --color-text-20: rgba(245, 245, 245, 0.2);
  --color-text-10: rgba(245, 245, 245, 0.1);
  --color-text-07: rgba(245, 245, 245, 0.07);
  --color-text-05: rgba(245, 245, 245, 0.05);

  --color-surface-75: rgba(44, 44, 44, 0.75);
  --color-surface-50: rgba(44, 44, 44, 0.5);

  --color-bg-65: rgba(33, 33, 33, 0.65);
  --color-bg-0: rgba(33, 33, 33, 0);

  --shad-xs: 0 0px 4px rgba(0, 0, 0, 0.25);
  --shad-xs-hover: 0 1px 6px rgba(0, 0, 0, 0.35);
  --shad-sm: 0 1px 8px rgba(0, 0, 0, 0.15);
  --shad-sm-hover: 0 3px 12px rgba(0, 0, 0, 0.25);
  --shad-md: 0 2px 20px rgba(0, 0, 0, 0.1);
  --shad-md-hover: 0 2px 22px rgba(0, 0, 0, 0.2);

  --shad-light-xs: 0 0px 6px rgba(0, 0, 0, 0.1);
  --shad-light-xs-hover: 0 1px 6px rgba(0, 0, 0, 0.2);
  --shad-light-sm: 0 1px 12px rgba(0, 0, 0, 0.05);
  --shad-light-sm-hover: 0 3px 15px rgba(0, 0, 0, 0.1);
  --shad-light-md: 0 2px 20px rgba(0, 0, 0, 0.05);
  --shad-light-md-hover: 0 0 22px rgba(0, 0, 0, 0.1);
}

[data-scale="sm"] {
  --font-scale: 0.9;
  --ui-scale: 0.9;
}

[data-scale="md"] {
  --font-scale: 1;
  --ui-scale: 1;
}

[data-scale="lg"] {
  --font-scale: 1.15;
  --ui-scale: 1.15;
}

/* ---- Инпуты ---- */

.input {
  font-size: var(--font-base);
  line-height: var(--line-base);
  color: var(--color-text);
  transition: var(--transition-base);
  outline: none;
}

.input__sm {
  padding: var(--space-xs) var(--space-sm);
  border-radius: var(--radius-xs);
  border: 1px solid rgba(37, 37, 37, 0.1);
}

.input__md {
  padding: var(--space-sm) var(--space-lg);
  border-radius: var(--radius-xl);
  background: var(--color-white);
  box-shadow: var(--shad-md);
  border: none;
}

.input__md:hover,
.input__md:focus {
  box-shadow: var(--shad-md-hover);
  transform: scale(1.02);
}

/* ---- Тайтлы ---- */
.title {
  color: var(--color-text);
  font-weight: 600;
  line-height: var(--line-base);
}

.title__sm {
  font-size: calc(18px * var(--font-scale));
}

.title__md {
  font-size: calc(22px * var(--font-scale));
}

.title__lg {
  font-size: calc(32px * var(--font-scale));
}

.title__xl {
  font-size: calc(38px * var(--font-scale));
}

/*

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */

.default_btn_destructive {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: var(--space-xs);
  box-sizing: border-box;
  border-radius: var(--radius-lg);
  padding: var(--space-sm) var(--space-lg);
  cursor: pointer;
  background: var(--color-red-bg);
  color: var(--color-red-text);
  font-weight: 500;
  transition: var(--transition-base);
  font-size: var(--font-text-lg);
  line-height: var(--line-md);
  backdrop-filter: blur(5px);
}

.default_btn_destructive:hover {
  background: rgba(140, 0, 0, 0.3);
  color: #d20000;
}

.default_btn_secondary {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: var(--space-xs);
  box-sizing: border-box;
  border-radius: 50px;
  padding: var(--space-sm) var(--space-lg);
  cursor: pointer;
  background: var(--color-text-07);
  color: var(--color-text);
  font-weight: 500;
  transition: var(--transition-base);
  font-size: var(--font-text-lg);
  line-height: var(--line-md);
  backdrop-filter: blur(5px);
}

.default_btn_secondary:hover {
  background: var(--color-text-20);
}

.popup_block {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: var(--space-xs);
  width: 100%;
}
.popup_block h4 {
  font-size: var(--font-text-md);
  margin-left: var(--space-sm);
  font-weight: 600;
  color: var(--color-text-50);
  line-height: var(--line-md);
}
.popup_block_inner {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: var(--space-xs);
  padding: var(--space-md);
  border-radius: var(--radius-lg);
  background: var(--color-surface-75);
  box-shadow: var(--shad-light-sm);
  width: 100%;
}