.add_album {
    display: flex;
    flex-direction: column;
    gap: var(--space-lg);
    width: 100%;
}
.add_album__info {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.add_album__info_img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: var(--radius-sm);
}

.add_album__info_name {
  text-align: left;
  font-size: var(--font-title-sm);
  line-height: var(--line-md);
  font-weight: 700;
  color: var(--color-text);
  max-width: 90%;
  width: fit-content;
  margin-top: var(--space-sm);
}
.add_album__info_meta {
  text-align: left;
  font-size: var(--font-text-md);
  line-height: var(--line-lg);
  font-weight: 500;
  color: var(--color-text-75);
  max-width: 75%;
  width: fit-content;
}

.add_album__folders {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0px;
  justify-content: flex-start;
  align-items: center;
  background: #fff;
  box-shadow: 0px 2px 10px 0px rgba(37, 37, 37, 0.1);
  border-radius: 15px;
  margin-top: 10px;
  padding: 4px;
}

.add_album__tools {
  margin-top: 10px;
}

.add_album__tools_add_folder_btn {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  border-radius: 50px;
  padding: 8px 20px;
  cursor: pointer;
  color: rgba(37, 37, 37, 0.5);
  font-weight: 500;
  transition: all 0.3s ease-out;
  font-size: 15px;
  line-height: 125%;
}

.add_album__tools_add_folder_btn:hover {
  background: #e8e8e8;
}
